.wrapper-about {
    opacity: 1;
    transition: opacity 1s ease;
    background-color: $colorDarkWhite;
    color: $fontColorDark;
    font-family: "Maven Pro", sans-serif; // font-family: "Source Code Pro", monospace;
    font-size: 1.6rem;
    line-height: 1.8;
    @media screen and (min-width: $tablet-landscape) {
        padding: 8em 0;
    }
    .profile-bg {
        width: 92%;
        margin: 0 auto; // width: 100%; //   height: 100vh;
        background: url(/static/assets/audra.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        padding-bottom: 75%;
        border-bottom: 1px solid $fontColorLight;
        @media screen and (min-width: $tablet-landscape) {
            position: fixed;
            left: 0%;
            bottom: 0;
            background-position: bottom left;
            border-bottom: none;
            height: 100vh;
            background-size: contain;
        }
    }
    .about-content {
        padding: 0.5em 6.25%;
        @media screen and (min-width: $tablet-landscape) {
            margin-left: 45%;
            position: relative;
            animation: fade-in 1s both ease;
        }
        q {
            text-align: center;
            display: block;
            padding: 15px 0;
            letter-spacing: 0.1em;
            font-weight: 300;
            font-size: 1.3rem;
            @media screen and (min-width: $mobile-landscape) {
                font-size: 1.4rem;
            }
            @media screen and (min-width: $tablet-landscape) {
                font-size: 1.6rem;
            }
            @media screen and (min-width: $tablet-landscape) {
                font-size: 2rem;
            }
        }
        hr {}
        .about-body {
            padding: 0.5em 0;
            @media screen and (min-width: $tablet-landscape) {
                margin-left: 4em;
            }
            @media screen and (min-width: $tablet-landscape) {
                font-size: 1.9rem;
            }
            span {
                font-size: 1.7rem;
                border-bottom: 1px solid $colorBtn;
                font-weight: bold;
                font-family: "Roboto Mono", monospace;
            }
            .contacts {
                a {
                    text-decoration: none;
                    color: $colorBtn;
                }
                a:hover {
                    opacity: 0.5;
                    color: $colorLine;
                }
            }
        }
    }
}

.page-about {
    .social-icons {
        border-top: 2px solid white;
        @media screen and (min-width: $tablet-landscape) {
            margin-left: 20%;
        }
    }
}