// Common Style
html {
    font-size: 62.5%;
}

::-moz-selection,
::selection {
    color: red;
    background: yellow;
}

body {
    background-color: $colorBackground;
    color: $fontColorDark;
}

.wrapper-index {
    // margin-top: $sizeMarginTop;
}