.page-bcit-twd {
    .page-top {
        background-image: url("/static/assets/bcit-twd.jpg");
    }
    .project-preview {
        background-image: url("/static/assets/bcit-twd-preview.jpg");
    }
    .project-detail {
        background-color: #efece2;
    }
}