.page-audra {
  .page-top {
    background-image: url("/static/assets/audra-banner.jpg");
    .title {
      h1 {
        color: tomato;
      }
    }
  }
  .project-bg {
    background: $colorBackground;
  }
  .project-wireframes {
    margin-top: 10%;
    img {
      border: 1px solid tomato;
      background-color: #fff;
      padding: 10px;
      @media screen and (min-width: $tablet-portrait) {
        padding: 40px;
      }
    }
  }
  .visit-website {
    a {
      color: tomato;
    }
  }
  .project-content {
    background-color: #fbf4ed;
    .concept {
      padding: 8% 0;
      @media screen and (min-width: $mobile-landscape) {
        margin-top: 13rem;
      }
      @media screen and (min-width: $mobile-landscape6s) {
        padding: 8% 3rem;
      }
      @media screen and (min-width: $tablet-landscape) {
        margin-top: 23rem;
      }
      @media screen and (min-width: $desktop) {
        margin-top: 38rem;
      }
      @media screen and (min-width: $extra-wide) {
        margin-top: 17rem;
      }
    }
  }
  .project-preview {
    background-image: url("/static/assets/audra-preview.jpg");
  }
  .project-detail {
    background-color: #e9f4f1;
  }
}
