.wrapper-project {
    background-color: $colorBackground;
}

.page-top {
    top: 0;
    left: 0; // margin-top: 0; //   position: relative;
    margin: auto;
    width: 100%;
    height: 100vh;
    background: url(/static/assets/lemongrass.jpg);
    background-size: cover;
    background-position: 50% 50%;
    span {
        height: 100vh;
        width: 100vw;
    }
    .title {
        // top: 30%;
        bottom: 80px;
        color: $fontColorDark;
        h1 {
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
        }
    }
    .banner-image {
        //   max-width: 1200px;
        width: 100%;
        top: 0; // margin-top: 0;
    }
}

.project-container {
    // margin: auto;
    .project-bg {
        width: 100%; //   height: 70rem;
        background: $colorBgLightGrey; //   position: absolute;
        top: 0;
        left: 0;
        height: 80vh;
        z-index: -100;
    }
    .project-overview {
        padding: 7.2rem 0;
        ul {
            display: flex;
            flex-direction: column;
            margin-bottom: 7.2rem;
            margin: auto;
            max-width: 1200px;
            padding: 0 7.5% 0;
            @media screen and (min-width: $tablet-portrait) {}
            li {
                list-style: none; // color: $color__fontblack;
                h2 {
                    font-size: 2.1rem;
                    line-height: 1.2;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                }
                p {
                    font-size: 1.5rem;
                } // margin-right: 6.4rem;
            }
            li:last-child {
                margin-right: 0;
            }
        }
    }
    .project-content {
        max-width: 1200px;
        padding: 0 10%;
        margin: auto;
        width: 100%;
        img {
            max-width: 100%;
            vertical-align: middle;
        }
    }
}

.project-detail {
    margin: 7.2rem 0;
    display: flex;
    align- .detail-img {
        margin: 0 auto;
        width: 100%;
        height: 60rem;
        background: url(/static/assets/lemongrass-overview-hannachoi.jpg) no-repeat center;
        background-size: cover;
        margin-top: 14.4rem; // opacity: 5;
    }
}