.section-nav-container {
    margin: 0;
    margin-left: 20px;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    left: 40px;
    z-index: 100;
    position: fixed;
    font-size: 1rem;
    top: 50%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            height: 3px;
            margin: 0 0 40px;
            a {
                background: $fontColorDark;
                width: 24px;
                height: 100%;
                cursor: pointer;
                text-decoration: none;
                display: block;
                position: relative;
            }
        }
        li:last-child {
            margin-bottom: 0;
        }
        li.active {
            a {
                width: 45px;
                -webkit-transition: 0.3s;
                -o-transition: 0.3s;
                transition: 0.3s;
            }
        }
    }
}