// General Sections
.wrapper {
    height: 100vh;
    width: 100%; //background-color: grey;
    margin-top: $sizeMarginTopMobile;
    @media screen and (min-width: $mobile-landscape) {
        // margin: $sizeMarginTop 45px 0 45px;
    }
}

.title {
    position: absolute; // overflow: hidden;
    letter-spacing: 0.1em;
    z-index: 800;
    text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
    margin: 0 6.25%;
    top: 60%;
    font-size: 1.5rem; // bottom: 8rem;
    @media screen and (min-width: $mobile-portrait) {
        width: 87%;
        top: 67%;
    }
    @media screen and (min-width: $mobile-landscape) {
        top: 40%;
    }
    @media screen and (min-width: $tablet-portrait) {
        margin-left: 10%;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0); // z-index: 200;
        font-size: 24px; // margin-left: 6.25%;
    }
    #lemonTilte {
        text-transform: uppercase;
    }
    p {
        font-size: 16px;
        margin-bottom: 10px;
        @media screen and (min-width: $mobile-landscape) {
            margin-bottom: 16px;
        }
    }
    a {
        text-decoration: none;
    }
    .btn-wrapper {
        text-align: center;
        @media screen and (min-width: $mobile-landscape) {
            text-align: left;
        }
        .btn {
            cursor: pointer;
            display: inline-block;
            border-radius: $borderRadius;
            background-color: $colorBtn; // line-height: 1;
            color: $fontColorLight;
            letter-spacing: 0.05em;
            transition: 0.3s;
            border: 0;
            font-weight: bold;
            font-size: 1.2rem;
            padding: 10px 14px;
            @media screen and (min-width: $mobile-portrait) {
                margin-top: 3%;
            }
            @media screen and (min-width: $mobile-landscape) {
                margin-top: 2%;
                padding: 12px 18px;
                font-size: 1.3rem;
            }
        }
        .btn:hover {
            -webkit-transform: translate3d(0, -5%, 0);
            transform: translate3d(0, -5%, 0);
            opacity: 1;
            color: $fontColorLight;
        }
        .btn:focus {
            outline: none;
        }
    }
}

.featured-image {
    display: block;
    position: relative; // top: 20%;
    width: 85%;
    height: 85%;
    margin: 0 auto;
    -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
    @media screen and (min-width: $mobile-landscape) {
        width: 50%;
        height: 65%;
        margin: 2% 8% 0 auto;
    }
    span {
        display: block;
        position: relative;
        width: 100%;
        height: 55vh;
        @media screen and (min-width: $mobile-landscape) {
            height: 65vh;
        }
        @media screen and (min-width: $tablet-portrait) {
            height: 70vh;
        }
    }
}

.lemongrass-image {
    background: url("/static/assets/lemongrass.jpg") no-repeat center;
    background-size: cover;
}

.bcit-portfolio-image {
    background: url("/static/assets/workspace.jpg") no-repeat center;
    background-size: cover;
}

.audra-portfolio-image {
    background: url("/static/assets/audra.jpg") no-repeat center;
    background-size: cover;
}