.wrapper {
    // display: flex;
}

.title {
    position: absolute;
    overflow: hidden;
    top: 35%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0); // z-index: 200;
    margin-left: 10%;
}

.main-image {
    //   transform: scale(1) translateX(0%) translateZ(0px);
}

.btn {
    cursor: pointer;
    border-radius: $borderRadius;
    padding: 10px 18px;
    font-size: 1.0rem;
    background-color: $red; // line-height: 1;
    color: $white;
    border: 0;
    font-weight: bold;
    transition: 0.3s;
    letter-spacing: 0.05em;
}

.btn:hover {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    opacity: 1;
}