.scroll-down {
  position: fixed;
  font-size: 1rem;
  bottom: 80px;
  left: 40px;
  line-height: 1;
  letter-spacing: 0.3em;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl; // color: #fff;
  z-index: 100;
}

.scroll-down:after {
  content: "";
  width: 2px;
  height: 64px;
  background: $white;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -80px;
}
