// Colors
$colorBackground: #ffffff;
$colorDarkWhite: #eeeeee;
$colorBgLightGrey: #f2f4f5;
$colorFpLightGrey: #f8f8f8;
$colorBgWhite: #f9f9f9;
$colorBgLightPink: #f4e8e9;
$colorBtn: #ff4d5a;
$colorLine: #27394d;
$colorBgProjectDetail: #fafafa;
// Audra ricketts color
$color__Audra__main: tomato;
$color__Audra__bg: #fbf4ed;
$color__Audra__bg-green: #e9f4f1;
/**/

//Font Colors
$fontColorDark: #072142;
$fontColorLight: #ffffff;
$fontColorGrey: #828c96;
/**/

// Size
$borderRadius: 50px;
$sizeMarginTopMobile: 64px;
$sizeMarginTop: 79px;
$sizeMarginLeft: 40px;
/**/

// Fonts
$fontHeader: "Comfortaa",
cursive;
$fontAboutParagraph: "Maven Pro",
sans-serif;
$fontAboutHightlight: "Roboto Mono",
monospace;
$fontTitle: "Rubik",
sans-serif;
$fontProjectInfo: "Carme",
sans-serif;
// Animation
$anim: 250ms ease-in-out;
$transitionDuration: 500ms;
$ease: cubic-bezier(0.7, 0, 0.3, 1);
$ease2: cubic-bezier(0.56, 0, 0.265, 1);
$ease3: cubic-bezier(1, 0, 0, 1);
/**/

/*--------------------------------------------------------------
# Mobile Sizes
iPhone5 mobile : 320 * 568
iPhone5 mobile(landscape) : 568 * 320
iPhone6s mobile : 375 * 667
iPhone6s mobile(landscape) : 667 * 375
iPhone8Plus mobile : 414 * 736
iPhone8Plus mobile(landscape) : 736 * 414
iPad : 768 * 1024
iPad(landscape) : 1024 * 768
iPad Pro : 1024 * 1366
iPad Pro(landscape) : 1366 * 1024
--------------------------------------------------------------*/

// Break Point based on min-width
$mobile__portrait: 360px;
$mobile__landscape__small: 480px;
$mobile__landscape: 560px;
$mobile__landscape6s: 660px;
$tablet__portrait: 760px;
$tablet__landscape: 1020px;
$desktop: 1090px;
$laptop: 1280px;
$wide-desktop: 1400px;
$extra-wide: 1900px;
/**/

// Placeholder
%clearfix {
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}