// Colors
$color__backgroundColor: rgb(40, 40, 35);
$color__white: #ffffff;
$color__darkWhite: #eeeeee;
$color__lightGrey: rgb(242, 244, 245);
$color__bgWhite: #f9f9f9;
$color__red: #ff4d5a;
$color__fontblack: #072142;
/**/

// Sizes
$size__marginTop: 79px;
$size__marginLeft: 40px;
/**/

// Animation
$anim: 250ms ease-in-out;
/**/

// Border
$borderRadius: 50px;
/**/

// Placeholder
%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
