.pages-hero {
  height: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .title {
    top: 370px;
    font-size: 1.6rem;
    @media screen and (min-width: $tablet__portrait) {
      font-size: 1.9rem;
    }
    @media screen and (min-width: $tablet__landscape) {
      font-size: 3.4rem;
    }
    h1 {
      color: $fontColorLight;
    }
  }
  &.ae-mechanical {
    background-image: url("/static/assets/ae-mechanical/ae-banner.jpg");
  }
}
