// hero title styles
// .services .pages-hero h1,
// .terms .pages-hero h1,
// .privacy-policy .pages-hero h1 {
//     color: $brandBlack;
// }
.pages-hero {
  height: 550px; // text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  h1 {
    // font-family: $titleFont;
    // letter-spacing: 0.1em;
    color: $fontColorLight; // padding-top: 320px;
    // padding-left: 10%; // text-transform: uppercase;
  }
  &.ae-mechanical {
    background-image: url("/static/assets/ae-banner.jpg");
  }
}
