.project-content {
    background-color: $colorBgProjectDetail;
    font-family: "Carme", sans-serif;
    .concept,
    .development {
        max-width: 1300px;
        padding: 6rem 7.5%;
        margin: 0 auto;
        @media screen and (min-width: $tablet__portrait) {
            padding: 8rem 10%;
        }
        @media screen and (min-width: $tablet__landscape) {
            display: flex;
            align-items: center;
        }
        @media screen and (min-width: $laptop) {
            padding: 12rem 5%;
        }
        h2 {
            font-size: 2.1rem;
            line-height: 1.2;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            margin-bottom: 1.2rem;
            @media screen and (min-width: $tablet__portrait) {
                font-size: 2.5rem;
            }
        }
        p {
            font-size: 1.5rem;
            @media screen and (min-width: $tablet__portrait) {
                font-size: 1.7rem;
                line-height: 1.8;
            }
            @media screen and (min-width: $tablet__landscape) {
                margin-left: 5%;
                font-size: 1.9rem;
            }
        }
    }
    .project-preview {
        img {
            max-width: 100%;
        }
    }
}