.page-lemongrass {
    .page-top {
        background-image: url("/static/assets/lemongrass.jpg");
    }
    .project-preview {
        background-image: url("/static/assets/lemongrass-preview.jpg");
    }
    .project-detail {
        background: $colorBgLightGrey;
    }
}