.page-nav {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    cursor: pointer;
    padding: 20px;
    a {
        text-transform: uppercase;
        color: $colorLine;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.6s;
        letter-spacing: 0.1rem;
        font-size: 15px;
        @media screen and (min-width: $tablet__portrait) {
            font-size: 20px;
        }
        svg {
            width: 55px;
            @media screen and (max-width: $mobile__landscape__small) {
                display: none;
            }
        }
        span {
            margin: 20px;
        }
    }
    .previous:hover {
        transform: translate3d(-15%, 0, 0);
        color: $colorBtn;
        @media screen and (max-width: $mobile__landscape__small) {
            transform: translate3d(-5%, 0, 0);
        }
    }
    .next:hover {
        transform: translate3d(15%, 0, 0);
        color: $colorBtn;
        @media screen and (max-width: $mobile__landscape__small) {
            transform: translate3d(5%, 0, 0);
        }
    }
}