// index page Sections
.wrapper {
  height: 100vh;
  width: 100%;
  margin-top: $sizeMarginTopMobile;
  @media screen and (min-width: $mobile__portrait) {
    margin-top: $sizeMarginTopMobile + 3;
  }
  @media screen and (min-width: $tablet__portrait) {
    margin-top: $sizeMarginTop + 20;
  }
  @media screen and (min-width: $tablet__landscape) {
    margin-top: $sizeMarginTop + 30;
  }
}

.title {
  font-family: $fontTitle;
  position: absolute;
  letter-spacing: 0.1em;
  z-index: 800;
  text-shadow: 0 10px 30px rgba(2, 11, 22, 0.5);
  margin: 0 6.25%;
  top: 62vh;
  font-size: 1.4rem;
  @media screen and (min-width: $mobile__portrait) {
    width: 87%;
    top: 65vh;
  }
  @media screen and (min-width: $mobile__landscape) {
    top: 40vh;
  }
  @media screen and (min-width: $tablet__portrait) {
    top: 65vh;
    font-size: 2.6rem;
    margin: 0 10%;
  }
  @media screen and (min-width: $tablet__landscape) {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
    font-size: 24px;
    top: 50%;
    margin-left: 12%;
  }
  @media screen and (min-width: $desktop) {
    font-size: 3rem;
  }
  @media screen and (min-width: $wide-desktop) {
    font-size: 3.4rem;
  }
  #lemonTilte {
    text-transform: uppercase;
  }
  .bcitTitle {
    letter-spacing: -0.7px;
  }
  p {
    font-size: 16px;
    margin-bottom: 10px;
    @media screen and (min-width: $mobile__landscape) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: $tablet__portrait) {
      font-size: 2.1rem;
    }
    @media screen and (min-width: $wide-desktop) {
      font-size: 2.3rem;
    }
  }
  .btn-wrapper {
    text-align: center;
    @media screen and (min-width: $mobile__landscape) {
      text-align: left;
    }
    .btn {
      cursor: pointer;
      display: inline-block;
      border-radius: $borderRadius;
      background-color: $colorBtn;
      color: $fontColorLight;
      letter-spacing: 0.05em;
      transition: 0.3s;
      border: 0;
      font-size: 1.2rem;
      padding: 10px 14px;
      @media screen and (min-width: $mobile__portrait) {
        margin-top: 3%;
        font-size: 1.3rem;
        padding: 12px 18px;
      }
      @media screen and (min-width: $mobile__landscape) {
        margin-top: 2%;
      }
      @media screen and (min-width: $tablet__portrait) {
        font-size: 1.8rem;
      }
    }
    .btn:hover {
      -webkit-transform: translate3d(0, -5%, 0);
      transform: translate3d(0, -5%, 0);
      opacity: 1;
      color: $fontColorLight;
    }
    .btn:focus {
      outline: none;
    }
  }
}

.featured-image {
  display: block;
  position: relative;
  width: 85%;
  height: 50vh;
  margin: 0 auto;
  -webkit-box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 80px 140px -40px rgba(0, 0, 0, 0.6);
  @media screen and (min-width: $mobile__landscape) {
    width: 50%;
    height: 62vh;
    margin: 2% 8% 0 auto;
  }
  @media screen and (min-width: $tablet__portrait) {
    margin: 5% auto;
    width: 80%;
    height: 50vh;
  }
  @media screen and (min-width: $tablet__landscape) {
    width: 48%;
    height: 70vh;
    margin: 2% 5% 0 auto;
  }
  @media screen and (min-width: $laptop) {
    margin: 2% 8% 0 auto;
  }
  span {
    display: block;
    position: relative;
    width: 100%;
  }
}

.ae-mechanical-image {
  background: url("/static/assets/ae-mechanical.jpg") no-repeat center;
  background-size: cover;
}

.audra-ricketts-image {
  background: url("/static/assets/audra.jpg") no-repeat center;
  background-size: cover;
}

.lemongrass-image {
  background: url("/static/assets/lemongrass.jpg") no-repeat center;
  background-size: cover;
}

.bcit-landing-page-image {
  background: url("/static/assets/bcit-twd-portfolio.jpg") no-repeat center;
  background-size: cover;
}
